html, body{
	font-family: arial;
	/* height: 100%; */
}
.wrapper{
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}
.logo-header img{
	float: left;
	width: 5%;
}
.menu{
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-left: 20px;

}
.menu a{
	text-decoration: none;
	padding: 5px;
	color: #000;
	margin: 5px;
	color: #444647;
}
.menu a:hover{
	text-decoration: underline;
}
.container{
	text-align: center;
	padding-top: 80px;
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.search-heading p{
	margin-top: 40px;
	text-align: left;
	padding-left: 60px;
	color: #CA270E;
	font-size: 20px;
}
.logo img{
	width: 25%;
	margin-bottom: 30px;
}
.border{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.wrap{
	padding-left: 40px;
	padding-top: 20px;
}
.wrap p{
	text-align: left;
	margin-bottom: 30px;
}
.glass-icon{
	margin: 0 auto;
	width: 40%;
	border: 1px solid #ccc;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-input{
	width: 80%;
	border: none;
	/* border: 1px solid red; */
	-webkit-appearance: none;
	padding: 15px;
	font-size: 100%;
}
.icon-search{
	display: inline-block;
	background-image: url("../images/glass.png");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	background-size: auto 90%;
	margin-left: 10px;
	margin-top: 2px;
}
.search-input:focus{
	outline: none;
}
.glass-icon:hover{
	-webkit-box-shadow: 1px 7px 20px -10px rgba(34, 60, 80, 0.2); 
	-moz-box-shadow: 1px 7px 20px -10px rgba(34, 60, 80, 0.2); 
	box-shadow: 1px 7px 20px -10px rgba(34, 60, 80, 0.2);
}
.search-table td{
	padding-right: 40px;
	padding-bottom: 15px;
	font-size: 90%;
}
.search-table input{
	border: 1px solid #ccc;
	width: 200%;
	font-size: 20px;
}
.wide-input{

}
.submit-button{
    margin-top: 10px;
}
.button-style{
	padding: 15px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    color: #444647;
    background-color: #f7f7f7;
}
.button-style:hover{
	outline: 1px solid #ccc;
}
.wide-button-style{
	width: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 100%;
    border: 1px solid #2c6bc9;
    color: #fff;
    background-color: #2a77eb;
    border-radius: 3px;
}
.wide-button-style:hover{
	background: linear-gradient(to bottom, #2d65ba 3%, #306fcf 94%);
	border: 1px solid #2658a3;
}
.wide-submit{
	text-align: center;
}
/* @media (max-width: 1200px){
	.logo img{
		width: 50%;
	}
	.search-input{
		width: 60%;
	}
}
@media (max-width: 800px){
	.logo img{
		width: 60%;
		margin-bottom: 5px;
	}
	.search-input{
		width: 60%;
	}
	.logo{
		padding-top: 20px;
	}
	.submit-button{
		margin-top: 25px;
	}
} */
@media only screen and (max-width: 768px){
	.container{
		padding-top: 70px;
	}
	.logo img{
		width: 80%;
	}
	.menu{
		margin-left: 0px;
		margin-top: 40px;
		align-items: center;
	}
	.menu a{
		text-align: center;
		display: inline-block;
		width: 200px;
		margin: 5px auto;
		font-size: 25px;
	}
	.button-style{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.submit-button{
		margin-top: 45px;
	}
	.submit-button{
		margin-top: 45px;
	}
	.search-input{
		font-size: 40px;
		border-radius: 40px;
	}
	.glass-icon{
		width: 90%;
	}
	.search-heading p{
		text-align: center;
		font-size: 30px;
	}
	a[class=logo-header]{
		display: none;
	}
	.search-table input{
		width: auto;
	}
	.search-table td{
		padding-right: 13px	;
	}
	.wide-button-style {
		width: 50%;
	}
}	
